body { 
    opacity: 0;
    transition: opacity .5s;
}

a {
    color: black;
}

img {
    object-fit: fill;
}

.background-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.copyright {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.center-box {
    position: absolute;
    top: 41%;
    bottom: 22%;
    left: 33%;
    right: 33%;
    width: 34%;
}

.single-player-button {
    position: absolute;
    top: 0;
    bottom: 60%;
    left: 0;
    right: 0;
    background-color: white;

    padding: 20px;
    text-align: center;

    cursor: pointer;
}

.multi-player-button {
    position: absolute;
    top: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gray;

    padding: 20px;
    text-align: center;

    cursor: pointer;
}

.button-text-50 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.button-text-10 {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.levels-to-start-button {
    position: absolute;
    top: 6%;
    bottom: 87%;
    left: 5%;
    right: 88%;
    border: ;

    cursor: pointer;
}

.levels-to-game-button {
    position: absolute;
    top: 86%;
    bottom: 6%;
    left: 8%;
    right: 88%;
    border: ;

    cursor: pointer;
}

.chapter-name {
    position: absolute;
    top: 4%;
    bottom: 85%;
    left: 71%;
    right: 3%;
    border: ;

    padding: ;
    text-align: center;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

.profile-box {
    position: absolute;
    top: 0;
    bottom: 77.7%;
    left: 0;
    right: 87.7%;
    border: 3px solid black;
}

.time-box {
    position: absolute;
    top: 0;
    bottom: 88.8%;
    left: 12.3%;
    right: 72%;
    border: 3px solid black;
}

.population-box {
    position: absolute;
    top: 0;
    bottom: 88.8%;
    left: 62.5%;
    right: 25%;
    border: 3px solid black;
}

.resource-point-box {
    position: absolute;
    top: 0;
    bottom: 88.8%;
    left: 75%;
    right: 12.3%;
    border: 3px solid black;
}

.tech-point-box {
    position: absolute;
    top: 0;
    bottom: 88.8%;
    left: 87.7%;
    right: 0;
    border: 3px solid black;
}

.next-round-box {
    position: absolute;
    top: 77.7%;
    bottom: 0;
    left: 0;
    right: 87.7%;
    border: 3px solid black;

    cursor: pointer;
}

.quiz-box {
    position: absolute;
    top: 83.5%;
    bottom: 0;
    left: 72.1%;
    right: 0;
    border: 3px solid black;

    cursor: pointer;
}

.list-box {
    position: absolute;
    top: 83.5%;
    bottom: 0;
    left: 81.4%;
    right: 0;
    border: 3px solid black;

    cursor: pointer;
}

.tech-box {
    position: absolute;
    top: 83.5%;
    bottom: 0;
    left: 90.7%;
    right: 0;
    border: 3px solid black;

    cursor: pointer;
}

.center-popout-box {
    position: absolute;
    top: 11.2%;
    bottom: 16.5%;
    left: 12.3%;
    right: 12.3%;
    border: 3px solid black;

    padding: 10px;
    text-align: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#list-popout-box {
    display: none;
}

#tech-popout-box {
    display: none;
}

.main-grids {
    position: absolute;
    top: 12%;
    bottom: 16%;
    left: 21.5%;
    right: 12.6%;
    border: 3px solid black;
}

.icon {
    position: absolute; 
    bottom: 0; 
}

.rhombus {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -11.72px;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
    transform: scale(1, 0.5) rotate(45deg);
    border: 3px solid black;

    cursor: pointer;
}

.rhombus-holder {
    border: 3px solid gray;
    align-items: center;
}

#rh-1 {
    position: absolute;
    top: 0;
    bottom: 76.47%;
    left: 6.25%;
    right: 81.25%;
}